<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Signup</title>
  <style>
    body {
      display: flex;
      flex-direction: column; /* Set flex direction to column */
      min-height: 100vh;
      margin: 0;
      background-color: #f2f5f5;
      row-gap: 30px;
    }

    .navbar-container {
      margin-bottom: 20px; /* Add margin below navbar */
    }

    .body-container {
      display: flex;
      flex-direction: column;
      justify-content: center; /* Center content horizontally */
      align-items: center; /* Center content vertically */
      background-color: rgb(227, 218, 230); /* Set background color of body container */
      padding: 20px; /* Add padding */
      border-radius: 10px; /* Add border radius for rounded corners */
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
      max-width: 400px; /* Set maximum width for the body container */
      width: 100%; /* Make the body container responsive */
      margin: 0 auto; /* Center the container */
    }

    .form-group {
      margin-bottom: 1rem; /* Add margin bottom between form elements */
    }

    .form-control {
      width: 100%; /* Make form controls fill the width of the container */
    }

    .footer-container {
      margin-top: auto; /* Push the footer to the bottom */
      background-color: #f2f5f5;
      text-align: center;
    }

    .footer-container a {
      color: #333;
    }

    @media (max-width: 768px) {
      .body-container {
        max-width: 90%;
        padding: 15px;
      }
    }

    @media (max-width: 480px) {
      .body-container {
        max-width: 80%;
        padding: 10px;
        margin: auto;
      }

      h1 {
        font-size: 1.5rem;
      }

      .form-group label {
        font-size: 0.9rem;
      }

      .btn {
        font-size: 1rem;
      }
    }
  </style>
</head>
<body>

<div class="navbar-container">
  <%- include('./partials/nav') %>
  <%- include('./partials/icon') %>
</div>

<div class="body-container">
  <form action="/user/signup" method="post">
    <div class="form-group">
      <h1><span class="fa fa-sign-in"></span> Signup</h1>
      <label for="fullName" class="form-label">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="fullName"
        name="fullName"
        aria-describedby="fullName"
        required
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        required
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        name="password"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        required
      />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary mb-6">Submit</button>
      <br>
      Already registered? 
      <a class="icon-link" href="/user/signin">
        Signin
      </a>
    </div>
  </form>
</div>

<div class="footer-container">
  <%- include('./partials/footer') %>
</div>

<%- include('./partials/scripts') %>

</body>
</html>
