<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Signup</title>
  <style>
    body {
      display: flex;
      flex-direction: column; /* Set flex direction to column */
      min-height: 100vh;
      margin: 0;
      background-color: #f2f5f5;
    }

    .navbar-container {
      margin-bottom: 20px;
    }

    .body-container {
      display: flex;
      flex-direction: column; /* Set flex direction to column */
      justify-content: center;
      align-items: center;
      background-color: rgb(227, 218, 230);
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      max-width: 350px;
      width: 100%;
     margin: auto;
    }

    .form-group {
      margin-bottom: 1rem;
    }

    .form-control {
      width: 100%;
    }

    .footer-container {
      margin-top: auto; /* Push the footer to the bottom */
      background-color: #f2f5f5;
      text-align: center;
    }

    .footer-container a {
      color: #333;
    }

    @media (max-width: 768px) {
      .body-container {
        max-width: 90%;
      }
    }

    @media (max-width: 480px) {
      .body-container {
        max-width: 70%;
        padding: 10px;
      }

      h1 {
        font-size: 1.5rem;
      }

      .form-group label {
        font-size: 0.9rem;
      }

      .btn {
        font-size: 1rem;
      }
    }
  </style>
</head>
<body>

<div class="navbar-container">
  <%- include('./partials/nav') %>
  <%- include('./partials/icon') %>
</div>

<div class="body-container">
  <form action="/user/signin" method="post">
    <div class="form-group">
      <h1><span class="fa fa-sign-in"></span> Sign In</h1>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        name="password"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
  
    <button type="submit" class="btn btn-primary mb-6">Sign In</button>
    <br>
    Don't have an account? 
    <a class="icon-link" href="/user/signup">
      Signup
    </a>
    <br>
  </form>
</div>

<div class="footer-container">
  <%- include('./partials/footer') %>
</div>

<%- include('./partials/scripts') %>

</body>
</html>
